@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');
 @import "~bootstrap/scss/bootstrap";
 body {
     height: auto;
     color: rgba(0,0,0,.75);
     font-family: 'Nunito';
     background-color: rgb(181, 238, 255);
     padding: 20px;
     margin: 0;
}
 h1, h2, p, ul, li {
  color: rgba(0,0,0,.75);
  font-family: 'Nunito';
}
 ul.header li {
     display: inline;
     list-style-type: none;
     margin: 0;
}
 ul.header {
     background-color: #111;
     padding: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
ul.header li a:hover {
    background-color: rgb(117, 200, 255);
}
 .content {
     background-color: #FFF;
     padding: 20px;
     min-height: 80vh;
}
 .content h2 {
     padding: 0;
     margin: 0;
}
 .content li {
     margin-bottom: 10px;
}
.blog-form {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.blog-button {
  color: #fff;
  background-color: #0099FF;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}